@import url('https://fonts.googleapis.com/css2?family=Solway:wght@400;500;700;800&display=swap');

@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

:root {
    font-size: 10px;
    font-family: 'Solway', serif;
    --bg-color: #F9FAFB;
    --logo-shade: #00000066;
    --input-clr: #E5E7EB;
    --btn-clr: #596D48;
}

* {
    box-sizing: border-box;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--bg-color);
}

a {
    color: white;
}

.decoration-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image:
    url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    flex-grow: 1;
    width: 33%;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
    margin-top: 19rem;
    background-color: var(--logo-shade);
    font-family: Norse-Bold;
    font-size: 11rem;
}

.logo>img {
    width: 10rem;
}

.credits {
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 1.4rem;
}

.interaction-side {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 67%;
}

.form-container {
    position: relative;
    height: 26.4rem;
    margin-top: 8.4rem;
    padding-left: 4rem;
    background-color: white;
    box-shadow: 
    2px 3px 6px 1px rgba(0, 0, 0, 0.12);
}

.description {
    position: absolute;
    top: -15rem;
    width: clamp(37rem, 75%, 62rem);
}

.description > h2 {
    font-size: 1.8rem;
}

.form {

}

.take-action {
    position: absolute;
    bottom: -8rem;
}

.take-action a {
    color: var(--btn-clr);
    text-decoration: none;
    font-weight: 700;
}