@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@400;500;700;800&display=swap');


@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

:root {
    font-size: 10px;
    font-family: Roboto, 'Solway', serif;
    --bg-color: #F9FAFB;
    --logo-shade: #00000066;
    --input-clr: #E5E7EB;
    --form-txt-clr: #1F2937;
    --btn-clr: #596D48;
}

* {
    box-sizing: border-box;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--bg-color);
}

a {
    color: white;
}



.decoration-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image:
    url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    flex-grow: 1;
    width: 33%;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13rem;
    margin-top: 15rem;
    background-color: var(--logo-shade);
    font-family: Norse-Bold;
    font-size: 9rem;
}

.logo>img {
    width: 8rem;
}

.credits {
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 1.2rem;
}

.interaction-side {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 67%;
}

.form-container {
    position: relative;
    height: 23.4rem;
    margin-top: 8.4rem;
    padding-left: 4rem;
    background-color: white;
    box-shadow: 
    2px 3px 6px  rgba(0, 0, 0, 0.12);
}

.description {
    position: absolute;
    top: -17rem;
    width: clamp(37rem, 75%, 63rem);
}

h2 {
    font-size: 1.8rem;
    font-weight: 500;
}

.form {
    width: 50rem;
    color: var(--form-txt-clr);
}

form {
    position: relative;
    columns: 2;
}

.cell+.cell {
    margin-top: 2.4rem;
}

label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

input {
    font-size: 1.2rem;
    width: 20rem;
    padding: .4rem .6rem;
    border: 1px solid #E5E7EB;
    border-radius: .3rem;
}

input:focus-visible {
    outline: .1rem solid #1D4ED8;
    box-shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.2);
}

.take-action {
    position: absolute;
    font-size: 1.4rem;
    bottom: -13rem;
    left: 0;
}

.take-action 
button {
    cursor: pointer;
    color: #fff;
    background-color: var(--btn-clr);
    border: none;
    border-radius: .8rem;
    padding: 1.2rem 3.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    transition: transform 0.1s;
    box-shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.14);
}

button:active {
    transform: translate(1px, 2px);
}

.take-action a {
    color: var(--btn-clr);
    text-decoration: none;
    font-weight: 700;
    transition: all 0.08s;
}

.take-action a:active {
    color: #fff;
    background-color: var(--btn-clr);
    outline: 3px solid var(--btn-clr);
    border-radius: 2px;
    text-decoration: none;
    font-weight: 700;
}